

.carousel-cards{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 15rem;
    background-color: rgba(215, 205, 205, 0.823);
}

.carousel-icon{
    height: 7rem;
    width: 7rem;
}

